# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

strategy:
  matrix:
    linux:
      imageName: "ubuntu-16.04"
      Python27:
        python.version: '2.7'
      Python36:
        python.version: '3.6'
      Python37:
        python.version: '3.7'
    mac:
      imageName: "macos-10.13"
      Python27:
        python.version: '2.7'
      Python36:
        python.version: '3.6'
    windows:
      imageName: "vs2017-win2016"
      Python27:
        python.version: '2.7'
      Python36:
        python.version: '3.6'
  maxParallel: 7

pool:
  vmImage: $(imageName)

# strategy:
#   matrix:
#    Python27:
#      python.version: '2.7'
#    Python36:
#      python.version: '3.6'
#    Python37:
#      python.version: '3.7'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: 'Install dependencies'

- script: |
    python setup.py develop
    pip install pytest pytest-azurepipelines
    pytest
  displayName: 'pytest'
